In [1]:
# Categorical data
# Handling Missing values, Normalization.

In [2]:
# pip install scikit-learn

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pt
from sklearn.impute import SimpleImputer as si

%matplotlib inline

import seaborn as sb

In [4]:
sb.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [5]:
tips = sb.load_dataset('tips')
tip = tips.tail(50)
tip

     total_bill   tip     sex smoker   day    time  size
194       16.58  4.00    Male    Yes  Thur   Lunch     2
195        7.56  1.44    Male     No  Thur   Lunch     2
196       10.34  2.00    Male    Yes  Thur   Lunch     2
197       43.11  5.00  Female    Yes  Thur   Lunch     4
198       13.00  2.00  Female    Yes  Thur   Lunch     2
199       13.51  2.00    Male    Yes  Thur   Lunch     2
200       18.71  4.00    Male    Yes  Thur   Lunch     3
201       12.74  2.01  Female    Yes  Thur   Lunch     2
202       13.00  2.00  Female    Yes  Thur   Lunch     2
203       16.40  2.50  Female    Yes  Thur   Lunch     2
204       20.53  4.00    Male    Yes  Thur   Lunch     4
205       16.47  3.23  Female    Yes  Thur   Lunch     3
206       26.59  3.41    Male    Yes   Sat  Dinner     3
207       38.73  3.00    Male    Yes   Sat  Dinner     4
208       24.27  2.03    Male    Yes   Sat  Dinner     2
209       12.76  2.23  Female    Yes   Sat  Dinner     2
210       30.06  2.00    Male    Yes   Sat  Dinner     3
211       25.89  5.16    Male    Yes   Sat  Dinner     4
212       48.33  9.00    Male     No   Sat  Dinner     4
213       13.27  2.50  Female    Yes   Sat  Dinner     2
214       28.17  6.50  Female    Yes   Sat  Dinner     3
215       12.90  1.10  Female    Yes   Sat  Dinner     2
216       28.15  3.00    Male    Yes   Sat  Dinner     5
217       11.59  1.50    Male    Yes   Sat  Dinner     2
218        7.74  1.44    Male    Yes   Sat  Dinner     2
219       30.14  3.09  Female    Yes   Sat  Dinner     4
220       12.16  2.20    Male    Yes   Fri   Lunch     2
221       13.42  3.48  Female    Yes   Fri   Lunch     2
222        8.58  1.92    Male    Yes   Fri   Lunch     1
223       15.98  3.00  Female     No   Fri   Lunch     3
224       13.42  1.58    Male    Yes   Fri   Lunch     2
225       16.27  2.50  Female    Yes   Fri   Lunch     2
226       10.09  2.00  Female    Yes   Fri   Lunch     2
227       20.45  3.00    Male     No   Sat  Dinner     4
228       13.28  2.72    Male     No   Sat  Dinner     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2
230       24.01  2.00    Male    Yes   Sat  Dinner     4
231       15.69  3.00    Male    Yes   Sat  Dinner     3
232       11.61  3.39    Male     No   Sat  Dinner     2
233       10.77  1.47    Male     No   Sat  Dinner     2
234       15.53  3.00    Male    Yes   Sat  Dinner     2
235       10.07  1.25    Male     No   Sat  Dinner     2
236       12.60  1.00    Male    Yes   Sat  Dinner     2
237       32.83  1.17    Male    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [6]:
new_data = tip.smoker.map({'Yes':1,'No':0})
new_data

194    1
195    0
196    1
197    1
198    1
199    1
200    1
201    1
202    1
203    1
204    1
205    1
206    1
207    1
208    1
209    1
210    1
211    1
212    0
213    1
214    1
215    1
216    1
217    1
218    1
219    1
220    1
221    1
222    1
223    0
224    1
225    1
226    1
227    0
228    0
229    1
230    1
231    1
232    0
233    0
234    1
235    0
236    1
237    1
238    0
239    0
240    1
241    1
242    0
243    0
Name: smoker, dtype: category
Categories (2, int64): [1, 0]

In [7]:
# pip install sklearn

In [8]:
data = pd.DataFrame({'Name':['Gladson','Hanlala','Anash','Hasan','Sakthi'],'Salary':[120000,180000,150000,140000,170000],'Pay_lvl':['mid','high','mid','mid','high']})
data

      Name  Salary Pay_lvl
0  Gladson  120000     mid
1  Hanlala  180000    high
2    Anash  150000     mid
3    Hasan  140000     mid
4   Sakthi  170000    high

In [9]:
data_2= pd.DataFrame({'Salary':[300000,'NaN',2500000,'NaN'],
                    'Age':['NaN',22,'NaN',28]})
data_2

    Salary  Age
0   300000  NaN
1      NaN   22
2  2500000  NaN
3      NaN   28

In [10]:
imputer = si(missing_values=np.NaN,strategy='mean')
imputer.fit(data_2)

SimpleImputer()

In [11]:
mean = imputer.transform(data_2)
mean

array([[3.0e+05, 2.5e+01],
       [1.4e+06, 2.2e+01],
       [2.5e+06, 2.5e+01],
       [1.4e+06, 2.8e+01]])

In [12]:
imputer2 = si(missing_values=np.NaN,strategy='median')
imputer2.fit(data_2)

SimpleImputer(strategy='median')

In [13]:
median = imputer.transform(data_2)
median

array([[3.0e+05, 2.5e+01],
       [1.4e+06, 2.2e+01],
       [2.5e+06, 2.5e+01],
       [1.4e+06, 2.8e+01]])